*{padding: 0;margin: 0;}
html, body{width: 100%;height: 100%;}
@each $sections in "menu", "portal", "block1", "block2", "block3", "block4"{
    .#{$sections}{
        grid-area: #{$sections};
    }
}
.menu{
    width: 100%;
}

svg{
    fill:#609cf5;
}
/*
    Стили
*/
body {
    font-family: "Times New Roman", Times, serif;
    background: #fff;
}


.blueheader, .blueheader-full{
    color: #212325;
    text-decoration: none;
    border-bottom: 5px solid #609cf5 !important;
    &-full{
        display: inline-block;
    }
}
.blueheader-full{
        display: inline-block;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

img {
    transition: 1s; /* Время эффекта */
}
img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

/* ---------------------------------------------------
    Стили для боковой панели
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f5f6f7;
    color: #212325;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #eff1f2;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #212325;
    padding: 10px;
    a{
        color: #212325;
        text-decoration: none;
        padding: auto 10px;
        border-bottom: 5px solid #609cf5 !important;
        display: inline-block;
    }
}

#sidebar ul li{
    padding: 10px;
    &, a{
    padding: auto 10px;
    display: block;
    img{
        padding-right: 10px;
    }
    }
}

#sidebar ul li a:hover {
    color: #212325;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f5f6f7;
}


a.list-group-item{background-color: #f5f6f7;}
/* ---------------------------------------------------
    Стили основного файла
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    Настройки
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}